@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import 'tailwindcss';

/*@custom-variant dark (&:where(.dark, .dark *));*/
/*@custom-variant dark (@media (prefers-color-scheme: dark));*/
/*@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));*/


@custom-variant dark (&:is(.dark *));

:root {
    --foreground: hsl(0, 0%, 0%);
    --background-start: hsl(190, 7.89%, 85.1%);
    --background-end: hsl(0, 0%, 100%);
    /*--primary: hsl(255, 46%, 50%);*/
    /* we will try this #5d2c0c bronze primary color */
    --primary: oklch(0.4878 0.1759 289.79);

    --radius: 0.625rem;

    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.13 0.028 261.692);

    --secondary: oklch(0.86 0.07 289.79);
    --secondary-foreground: oklch(0.30 0.05 289.79);

    --muted: oklch(0.95 0.02 289.79);
    --muted-foreground: oklch(0.43 0.03 289.79);

    --accent: oklch(0.72 0.20 289.79);
    --accent-foreground: oklch(0.20 0.05 289.79);

    --sidebar-primary-foreground: oklch(0.977 0.014 308.299);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    --destructive: oklch(0.704 0.191 22.216);


    /*--accent: hsl(255, 46%, 95%);*/
    /*--accent-foreground: hsl(222.2, 47.4%, 11.2%);*/


    --mouse-x: 100px;
    --mouse-y: 100px;
    --card-color: hsl(0, 0%, 100%);


}

.dark {
    --foreground: hsl(0, 0%, 100%);
    --background-start: hsl(0, 0%, 0%);
    --background-end: hsl(0, 0%, 0%);

    --primary: hsl(255, 46%, 50%);
    --primary-foreground: oklch(0.977 0.014 308.299);

    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);

    --muted: oklch(0.22 0.03 289.79);
    --muted-foreground: oklch(0.74 0.02 289.79);
    /*--muted: oklch(0.269 0 0);*/
    /*--muted-foreground: oklch(0.708 0 0);*/
    --accent: oklch(0.32 0.18 289.79);
    --accent-foreground: oklch(0.92 0.03 289.79);

    --destructive: oklch(0.704 0.191 22.216);

    --border: oklch(1 0 0 / 10%);

    --input: oklch(1 0 0 / 15%);

    --ring: oklch(0.556 0 0);

    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.627 0.265 303.9);
    --sidebar-primary-foreground: oklch(0.977 0.014 308.299);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);

}

@media (prefers-color-scheme: dark) {
    --foreground: hsl(0, 0%, 100%);
    --background-start: hsl(0, 0%, 0%);
    --background-end: hsl(0, 0%, 0%);
    --primary: hsl(255, 46%, 50%);
}


@theme inline {
    --font-dosis: "dosis", sans-serif;

    --color-primary: var(--primary);
    --color-foreground: var(--foreground);
    --color-backgroundstart: var(--background-start);
    --color-backgroundend: var(--background-end);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);






    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);

    --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
    --background-image-gradient-conic: conic-gradient(
            from 180deg at 50% 50%,
            var(--tw-gradient-stops)
    );

    --animate-blob: blob 7s infinite linear;
    --animate-signature: signature 20s ease-in-out infinite;

    --animate-bar-1: bar 1s ease-in-out infinite;
    --animate-bar-2: bar 1s ease-in-out infinite 0.2s;
    --animate-bar-3: bar 1s ease-in-out infinite 0.4s;

    @keyframes bar {
        0%, 100% { height: 20%; }
        50% { height: 100%; }
    }


    @keyframes signature {
        0% {
            stroke-dashoffset: 3000px;
        }
        50% {
            stroke-dashoffset: 0;
        }
        100% {
            stroke-dashoffset: 3000px;
        }
    }



    @keyframes blob {
        0% {
            transform: translate(0px, 0px) scale(1);
        }
        33% {
            transform: translate(30px, -80px) scale(1.4);
        }
        66% {
            transform: translate(-50px, 20px) scale(1.2);
        }
        100% {
            transform: translate(0px, 0px) scale(1);
        }
    }
}


@utility some-custom-component-class {
    /* put all the classes after the @apply keyword */
    @apply m-10 delay-75 border-l;
}

@utility floating-ball {
    @apply absolute top-48 h-64 w-64 rounded-full animate-blob opacity-40 mix-blend-multiply blur-2xl dark:top-72 dark:h-36 dark:w-36 dark:opacity-90 dark:mix-blend-hard-light dark:blur-[90px];
}

@utility animation-delay-2000 {
    animation-delay: 2s;
}

@utility animation-delay-4000 {
    animation-delay: 4s;
}

@utility open-hamburger {
    transform: rotate(90deg);

    & .hamburger-top {
        transform: rotate(45deg) translateY(3px) translateX(1px);
    }

    & .hamburger-middle {
        display: none;
    }

    & .hamburger-bottom {
        transform: rotate(-45deg) translateY(-3px) translateX(1px);
    }
}

@utility hamburger-top {
    .open-hamburger & {
        transform: rotate(45deg) translateY(3px) translateX(1px);
    }
}

@utility hamburger-middle {
    .open-hamburger & {
        display: none;
    }
}

@utility hamburger-bottom {
    .open-hamburger & {
        transform: rotate(-45deg) translateY(-3px) translateX(1px);
    }
}

@layer utilities {
    .morph-toggle-container {
        container-type: inline-size;
    }

    .morph-toggle {
        font-size: 11.43cqw;
    }

    .morph-toggle::before,
    .morph-toggle::after {
        content: "";
        position: absolute;
        border-radius: 3.125em;
        box-sizing: border-box;
        transition:
                top 0.5s ease,
                left 0.5s ease,
                right 0.5s ease,
                width 0.5s ease,
                height 0.5s ease,
                border-color 0.5s ease,
                opacity 0.2s ease,
                scale 0.2s ease;
    }

    .morph-toggle::before {
        top: 0.5em;
        left: 0.5em;
        width: 3.5em;
        height: 3.5em;
        border: 0.150em solid mediumpurple;
    }

    .morph-toggle::after {
        top: 0;
        right: 0;
        width: 8.75em;
        height: 4.375em;
        border: 0.150em solid darkgrey;
    }

    .morph-toggle:hover::after {
        scale: 1.04;
        opacity: 0.85;
    }

    .morph-toggle:hover::before {
        opacity: 0.75;
    }

    .peer\/morph:checked ~ * .morph-toggle::before,
    .peer\/morph:checked + .morph-toggle::before {
        top: 0;
        left: 0;
        width: 8.75em;
        height: 4.375em;
        border-color: darkgrey;
    }

    .peer\/morph:checked ~ * .morph-toggle::after,
    .peer\/morph:checked + .morph-toggle::after {
        top: 0.5em;
        right: 0.5em;
        width: 3.375em;
        height: 3.375em;
        border-color: #636363;
    }
}